# Exclude Visual Studio temporary files
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.ncb
*.pdb
*.idb
*.ilk

# Exclude compiled binaries and build directories
Debug/
Release/
*.exe
*.obj
*.log
*.tlog
*.ipch
*.iobj
*.ipdb

# Exclude database files
*.db
